* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v812_111 {
  width: 100%;
  height: 980px;
  background: rgba(216,216,216,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v812_112 {
  width: 100%;
  height: 980px;
  background: rgba(231,65,76,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v812_113 {
  width: 366px;
  height: 52px;
  background: rgba(256,256,256,1);
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 1037px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v812_114 {
  width: 56px;
  height: 52px;
  background: rgba(256,256,256,1);
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 879px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.RectanguloGrande {
  width: 872px;
  height: 687px;
  background: rgba(256,266,266,1);
  opacity: 1;
  position: absolute;
  top: 255px;
  left: 273px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}

.Form1{
  width: 872px;
  height: 687px;
  top: 255px;
  left: 273px;
}

.RectanguloPequeño{
  width: 370px;
  height: 251px;
  background: rgba(256,256,256,1);
  opacity: 1;
  position: absolute;
  top: 225px;
  left: 1210px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}

.Form2{
  width: 370px;
  height: 251px;
  top: 225px;
  left: 1210px;
}

.v812_117 {
  width: 101px;
  color: rgba(152,152,158,1);
  position: absolute;
  top: 47px;
  left: 1095px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v812_118 {
  width: 17px;
  color: rgba(152,152,158,1);
  position: absolute;
  top: 47px;
  left: 898px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v812_119 {
  width: 127px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 292px;
  left: 780px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v812_132 {
  width: 103px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 396px;
  left: 769px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v848_82 {
  width: 123px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 396px;
  left: 356px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v812_120 {
  width: 349px;
  color: rgba(255,249,249,1);
  position: absolute;
  top: 181px;
  left: 530px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v850_90 {
  width: 307px;
  color: rgba(255,249,249,1);
  position: absolute;
  top: 164px;
  left: 1221px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v812_121 {
  width: 104px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 639px;
  left: 371px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v850_96 {
  width: 86px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 646px;
  left: 769px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v850_88 {
  width: 197px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 450px;
  left: 767px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v812_134 {
  width: 56px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 450px;
  left: 361px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.RealizarCambio {
  width: 297px;
  height: 98px;
  color: rgba(256,256,256,1);
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 18px;
  background: rgba(48,131,254,1);
  opacity: 1;
  position: absolute;
  top: 812px;
  left: 767px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.EliminarProducto {
  width: 286px;
  height: 49px;
  color: rgba(256,256,256,1);
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 18px;
  background: rgba(48,131,254,1);
  opacity: 1;
  position: absolute;
  top: 389px;
  left: 1252px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v812_124 {
  width: 297px;
  height: 52px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  background: rgba(216,216,216,1);
  opacity: 1;
  position: absolute;
  top: 433px;
  left: 350px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v848_83 {
  width: 297px;
  height: 52px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  background: rgba(216,216,216,1);
  opacity: 1;
  position: absolute;
  top: 325px;
  left: 767px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v849_85 {
  width: 297px;
  height: 52px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  background: rgba(216,216,216,1);
  opacity: 1;
  position: absolute;
  top: 325px;
  left: 350px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v850_92 {
  width: 297px;
  height: 52px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  background: rgba(216,216,216,1);
  opacity: 1;
  position: absolute;
  top: 310px;
  left: 1247px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v812_125 {
  width: 297px;
  height: 52px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  background: rgba(216,216,216,1);
  opacity: 1;
  position: absolute;
  top: 500px;
  left: 350px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v850_89 {
  width: 297px;
  height: 52px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  background: rgba(216,216,216,1);
  opacity: 1;
  position: absolute;
  top: 500px;
  left: 767px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v850_95 {
  width: 297px;
  height: 52px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  background: rgba(216,216,216,1);
  opacity: 1;
  position: absolute;
  top: 676px;
  left: 767px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v812_133 {
  width: 297px;
  height: 52px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  background: rgba(216,216,216,1);
  opacity: 1;
  position: absolute;
  top: 433px;
  left: 767px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v812_126 {
  width: 297px;
  height: 144px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 16px;
  background: rgba(216,216,216,1);
  opacity: 1;
  position: absolute;
  top: 676px;
  left: 350px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v812_128 {
  width: 255px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 845px;
  left: 820px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v850_94 {
  width: 255px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 396px;
  left: 1297px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v812_129 {
  width: 81px;
  height: 88px;
  background: url("Gaia.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 19px;
  overflow: hidden;
}
.v812_130 {
  width: 271px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 22px;
  left: 100px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v813_85 {
  width: 36px;
  height: 33px;
  background: url("lupa.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 998px;
  overflow: hidden;
}
.v812_136 {
  width: 50px;
  height: 49px;
  background: url("carritoCompras.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 808px;
  overflow: hidden;
}
.v849_84 {
  width: 274px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 292px;
  left: 355px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v850_91 {
  width: 273px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 270px;
  left: 1247px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}






.window-notice {
  background: rgba(33, 41, 52, .85);
  bottom: 0;
  display: flex;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  transition: background .6s;
}

.window-notice .content {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(33, 41, 52, .75);
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 600px;
  min-width: 320px !important;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 2rem;
  font-size: 1.3rem;
}

.content-buttons {
  text-align: center;
  margin-top: 1rem;
}

.content-buttons a {
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
  background-color: #0080DE;
  color: #FFF;
  text-transform: uppercase;
}

.content-buttons a:hover {
  background-color: #006AB8;
}

.content-text a {
  color: #0080DE;
  text-decoration: none;
}

.content-text a:hover {
  color: #006AB8;
  text-decoration: underline;
  text-align: justify;
}