
body,html{
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
    color: aliceblue;
    height: 100%;
    background-repeat: no-repeat;
    background: url(/static/images/login.jpg) no-repeat center center fixed;
    background-size: 100% 100%;
}