<!DOCTYPE html>
    <html>
        <head>
            <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
            <link href="./warrantyStyle.css" rel="stylesheet" />
            <title>Document</title>
        </head>
        <body>
            <div class="v802_82">
                <div class="v802_83">
                    <div class="v812_107"></div>
                    <div class="v812_109"></div>
                    <div class="v802_104"></div>
                    <span class="v802_84">Gaia Music </span>
                    <span class="v812_108">Buscar...</span>
                    <span class="v812_110">0</span>
                    <span class="v802_92">Historial de compras</span>

                    <form class = "v802_87">
                        <div class="v802_98"></div>
                        <div class="v956_91"></div>
                        <span class="v802_103">Solicitar garantía</span>
                        <span class="v957_82">Productos Comprados</span>
                        <div class="selectProduct"></div> 
                        <span class="v956_92">Motivo de la solicitud:</span>
                        
                    </form>
                    <div class="v812_137"></div>
                </div>
                <div class="v812_138"></div>
            </div>
        </body>
    </html>