<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="{{ url_for('static',filename='css/InventarioStyle.css') }}" rel="stylesheet" />
        <title>Modificar Inventario</title>
    </head>
    <body>
        <div class="v812_111">
            <div class="v812_112">
                <div class="v812_113"></div>
                <div class="v812_114"></div>

                <form action = "/modifyProducts" method = "post" class="Form1">
                    <div class = "RectanguloGrande"> </div>
                    <span class="v812_119">Nuevo nombre </span>
                    <span class="v812_132">Fin garantía</span>
                    <span class="v848_82">Inicio garantía</span>
                    <span class="v812_120">Modificar Inventario</span>
                    <span class="v850_90">Eliminar producto</span>
                    <span class="v812_121">Información</span>
                    <span class="v850_96">Categoría</span>
                    <span class="v850_88">Cantidad en Inventario</span>
                    <span class="v849_84">Nombre del producto a cambiar</span>
                    <span class="v812_134">Precio</span>
                    <input class = "RealizarCambio" type = "submit" value = "Realizar cambio"></input>
                    <input class="v812_124" id = "warrantyStart" name = "warrantyStart" required =""></input>
                    <input class="v848_83" id = "newName" name = "newName" required =""></input>
                    <input class="v849_85" id = "oldName" name = "oldName"></input>
                    <input class="v812_125" id = "price" name = "price" required =""></input>
                    <input class="v850_89" id = "inStock" name = "inStock" required =""></input>
                    <input class="v850_95" id = "category" name = "category" required =""></input>
                    <input class="v812_133" id = "warrantyEnd" name = "warrantyEnd" required =""></input>
                    <input class="v812_126" id = "productInformation" name = "productInformation" required =""></input>

                </form>

                <span class="v812_118">0</span>
                <span class="v812_117">Buscar...</span>

                <form action="/deleteProducts" method="post" class = "Form2">
                    <div class="RectanguloPequeño"></div>
                    <span class="v850_91">Nombre del producto a eliminar</span>
                    <input class="v850_92" id = "productToEliminate" name = "productToEliminate" ></input>
                    <span class="v850_94">Eliminar producto</span>
                    <input class = "EliminarProducto" type = "submit" value = "Eliminar producto"></input>
                </form>

                <div class="v812_123"></div>
                <div class="v850_93"></div>
                
                <div class="v812_129"></div>
                <span class="v812_130">Gaia Music </span>
                <div class="v813_85"></div>
               
        
            </div>
            <div class="v812_136"></div>
            
        </div>
    </body>
</html>