<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
        <link href="Registro.css" rel="stylesheet" />
        <title>Registro</title>
    </head>
    <body>
        <div class="v794_89">
            <div class="v794_90">
                <span class="v794_91">Gaia Music </span>
                <span class="v794_92">→ ¡Calidad asegurada de instrumentos! 
                → ¡Envíos hasta su casa! 
                <br>→ ¡Los mejores precios!</span>
                <div class="v794_93"></div>
                <div class="v794_94"></div>
                <form class = "Rectangle"></form>
                <span class="v794_95">Nombre de usuario</span>
                <span class="v794_96">Contraseña</span>
                <span class="v794_110">Nombre completo</span>
                <span class="v794_112">Dirección</span>
                <span class="v794_97">Únete a la comunidad</span>
                <span class="v794_98">¡Bienvenido!</span>
                <span class="v794_101">Pneuma Developers S.A
                @2021</span>
                <div class="v794_102"></div>
                <div class="v794_103"></div>
                <div class="v794_104"></div>

                <input class = "inputCrearCuenta" type = "submit" value = "Crear cuenta"></input>
                <input class = "inputContraUsuario" type = "password"></input>
                <input class = "inputNomUsuario"></input>
                <input class = "inputNomCompleto"></input>
                <input class = "inputDireccion"></input>
                <div class="v794_109"></div>
            </div>
        </div>
    </body>
</html>