<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/loginStyle.css') }}">

</head>

    <body>

        <p> ¡Registrate para que seas parte de la comunidad de clientes!</p>


        <form action = "/signUp" method ="post">
            Nombre: <input type="text" id="name" name="name" required=""><br>
            Apellidos: <input type="text" id="lastname" name="lastname" required=""><br>
            Nombre de usuario: <input type="text" id="user" name="user" required=""><br>
            Contraseña: <input type="password" id="password" name="password" required=""><br>
            <input type="submit" value="Registrarse">

        </form>
    </body>

</html>